################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CustomerInfo/CustomerInfo.REST/obj
/CustomerInfo/.vs/CustomerInfo
/CustomerInfo/CustomerInfo.Test/obj
