################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CustomerInfo/CustomerInfo.REST/obj
/CustomerInfo/.vs/CustomerInfo
/CustomerInfo/CustomerInfo.Test/obj
/CustomerInfo/CustomerInfo.REST/bin/Debug/net8.0
/CustomerInfo/CustomerInfo.Test/bin/Debug/net8.0
/CustomerInfo/.vs/ProjectEvaluation
/CustomerInfo/CustomerInfo.REST/bin/Release/net8.0
/CustomerInfo/CustomerInfo.Test/bin/Release/net8.0
